[submodule "server/nlp/sent2vec"]
	path = server/nlp/sent2vec
	url = https://github.com/sngjuk/sent2vec.git
[submodule "prepare_memes/kumiko"]
	path = prepare_memes/kumiko
	url = https://github.com/sngjuk/kumiko.git
