[submodule "scripts/prepare_memes/kumiko"]
	path = scripts/prepare_memes/kumiko
	url = https://github.com/sngjuk/kumiko.git
[submodule "scripts/server/nlp/sent2vec"]
	path = scripts/server/nlp/sent2vec
	url = https://github.com/sngjuk/sent2vec.git
